*{
    margin: 0px;
    height: 0px;
}
body{
    background-color: rgb(26, 103, 247);
}
h1, p{
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2em;
    color: white;
}